<script setup>
defineProps({
    name: String,
    email: String
})
</script>

<template>
    <div class="card">
        <span>{{ name }} - {{ email }}</span>
    </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.card {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    width: 35%;
    padding-block: 1rem;
    border-radius: 10px;
    margin-block: .5rem;
}

span {
    font-family: 'Raleway';
    font-weight: 500;
    text-align: center;
}
</style>