<script setup>
import Card from './components/Card.vue';
import { ref } from 'vue';

const users = ref([]);

fetch("http://localhost:8080/user/list")
.then(res =>  res.json())
.then(body => {
  users.value = body;
})
</script>

<template>
  <div class="container">
    <Card v-for="user in users" :name="user.name" :email="user.email"/>
  </div>
</template>

<style scoped>
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
